body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: #585ce9;
  outline: 1px solid #585ce9;
}

.get-in-touch-text{
  color: #000 !important;
}
.about--title{
  color: #000 !important;
  font-weight:  600 !important;
}
